@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
	--color-negro:#000;
	--color-texto: #000;
	--menu-hover:#DCA000;
	--color-primary:#C9B8CF;
	--color-secondary:#6C6C6C;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	font-weight: 300;
	color: var(--color-texto);
}
header{
	position: absolute;
	width: 100%;
	background-color: #000000;
}
.section{
	padding:8% 0;
	min-height:300px;
}
#hero{
	background-color: #000000;
	text-align: center;
	padding: 100px 0px;
	color: #FFFFFF;		
}
#hero h1{
	padding-bottom: 30px;
	font-size: 25px;
}
#hero p{
	padding: 30px 0px;
	font-size: 13px;
}
.btn-enfocus{
	background-color: var(--color-primary);
	color: var(--color-negro);
	padding: 10px 15px;
	font-weight: 500;
}
.btn-enfocus:hover{
	background-color: #6C6C6C;
	color: #fff;
}
.titulo{
	font-size: 25px;
	font-weight: 400;
	margin-bottom: 20px;
	color: var(--color-negro);
	margin: auto;
	padding-top: 30px;
}
.subtitulo{
	font-size: 25px;
	margin-bottom: 25px;
	color: #FFFFFF;
	font-weight: 700;
}
.parrafo{
	font-size: 13px;
	color: var(--color-texto);
	margin: auto;
	margin-bottom: 80px;
	padding: 30px 0px;
	font-weight: 200;
}
#conoce{
	padding: 30px 0px;
}

#nosotros .cajita{
	background-color: #000000;
	text-align: center;
	align-content: center;
	padding-top: 20px;
}
#nosotros{
	text-align: center;
}
#nosotros h3{
	color: #FFFFFF;
	font-size: 20px
}
#nosotros h2{
	padding: 30px 0px;
	letter-spacing: inherit;
}
#nosotros h4{
	padding-top: 20px;
	color: var(--color-primary);
	font-weight: 600;
	font-size: 18px;
}
#nosotros h6{
	font-size: 10px;
	text-align: left;
	font-weight: 100px;
	padding-left: 5px
}
.btn-secondary{
	background: #FFFFFF;
	color: #000000;
	width: 300px;
	text-align: left;

}
.btn-unirse{
	background-color: #FFFFFF;
	color: var(--color-primary);
	padding: 10px 100px;
	font-weight: 800;
	font-size: 40px
}
.btn-unirse:hover{
	background-color: #6C6C6C;
	color: #fff;
}
#contact-form.section{
	margin: auto;
}
#contact-form h5{
	font-size: 13px;
	color: var(--color-negro);
	margin: auto;
	padding: 10px 0px;
	font-weight: 300;
}
#contact-form h7{
	color: var(--color-primary);
	font-weight: 500;
}

#contact-form h3{
	font-size: 13px;
	color: var(--color-negro);
	margin: auto;
	padding: 20px 0px;
	font-weight: 300;
}
#contact-form p{
	margin-bottom: auto;
}
.btn-form{
	background-color: var(--color-primary);
	color: var(--color-negro);
	
	font-weight: 500;
}
.btn-form:hover{
	background-color: #6C6C6C;
	color: #fff;
}
footer{
	background-color: #000000;
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 10px;
	margin: auto;
}
footer h2{
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 600;
	
}
footer p{
	font-size: 20px;
	color: #9C9C9C;
	font-weight: 300;
	padding-bottom: -90px;
}

footer h5{
	font-size: 13px;
	color: #FFFFFF;
	font-weight: 200;
}
.btn-group{
	padding-bottom: 10px;
	padding-top:-200px;
}

.i footer{
	padding: 0px 20px;
	font-weight: 100;
}
